.modal-header
  h3.modal-title Uppload Your Content!
.modal-body(ng-controller="ButtonsCtrl")
  .btn-group
    label.btn.btn-primary(ng-model="radioModel", btn-radio="'Pic'") Pic
    label.btn.btn-primary(ng-model="radioModel", btn-radio="'Video'") Video
    label.btn.btn-primary(ng-model="radioModel", btn-radio="'MEME'") MEME
  formContainer(data-ng-app="uploadModule")
    ng-upload-form(url="/files/", auto-upload="true", size-limit="500000")
    ng-upload-form(url="//jquery-file-upload.appspot.com/")
  .panel.panel-default
    .panel-heading
      h3.panel-title Demo Notes
    .panel-body
      ul
        li
          | The maximum file size for uploads in this demo is
          strong 5 MB
          | (default file size is unlimited).
        li
          | Only image files (
          strong JPG, GIF, PNG
          | ) are allowed in this demo (by default there is no file type restriction).
        li
          | Uploaded files will be deleted automatically after
          strong 5 minutes
          | (demo setting).
        li
          | You can
          strong drag &#38; drop
          | files from your desktop on this webpage (see
          a(href="https://github.com/blueimp/jQuery-File-Upload/wiki/Browser-support") Browser support
          | ).
        li
          | Please refer to the
          a(href="https://github.com/blueimp/jQuery-File-Upload") project website
          | and
          a(href="https://github.com/blueimp/jQuery-File-Upload/wiki") documentation
          | for more information.
        li
          | Built with Twitter"s
          a(href="http://twitter.github.com/bootstrap/") Bootstrap
          | CSS framework and Icons from
          a(href="http://glyphicons.com/") Glyphicons
          | .










